.background {
    position: absolute;
    width:  550px;
    height: 550px;

    background: #1F2937;
}


#heading {
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;

    font-family: 'Inter';
    font-style:   normal;
    font-weight: 700;
    font-size:   22px;
    line-height: 38px;

    letter-spacing: -0.05em;

    color: #FFFFFF;
}

#number {
    position: absolute;
    margin-top: 150px;
    margin-left: 240px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 24px;

    text-align: center;
    color: #FFFFFF;
}

#clickMe {
    position: absolute;
    margin-top: 200px;
    margin-left: 215px;
    

    width:  90px;
    height: 30px;
}

.result {
    position: absolute;
    margin-top: 300px;
    margin-left: 180px;

    font-family: 'Inter';
    font-style:   normal;
    font-weight: 400;
    font-size:   20px;
    line-height: 15px;

    letter-spacing: -0.05em;

    color: #FFFFFF;
}

#length, #volume, #mass {
    margin-left: -90px;
}